<h1>Add a restaurant</h1>
<%= simple_form_for @restaurant do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :category, collection: ["french", "chinese", "italian", "japanese", "belgian"] %>
  <%= f.submit "Submit review", class: "btn btn-success" %>
<% end %>
<%= link_to "Back", restaurants_path, class: "btn btn-warning" %>
