<h1><%= @restaurant.name %></h1>
<p>Hi, we're <%= @restaurant.name %>, a <%= @restaurant.category %> restaurant.</p>

<h2>Reviews of <%= @restaurant.name %></h2>
<% if @restaurant.reviews.length == 0 %>
  <p>This restaurant doesn't have any review yet. <%= link_to "Write a review?", new_restaurant_review_path(@restaurant) %></p>
<% else %>
<ul>
  <% @restaurant.reviews.each do |review| %>
  <li>
    <p><%= review.content %></p>
    <p>Rating:<strong> <%= review.rating %></strong>/5</p>
  </li>
  <% end %>
</ul>
<% end %>

<h2>Contact us</h2>
<h3>Where you can find us: </h3>
<p><%= @restaurant.address %></p>
<h3>Call us</h3>
<p>Our phone number: <%= @restaurant.phone_number %></p>

<h2>Write a review</h2>
<%= simple_form_for [ @restaurant, @review ] do |f| %>
  <%= f.input :rating %>
  <%= f.input :content %>
  <%= f.submit "Submit review", class: "btn btn-success" %>
<% end %>

<%= link_to "Back to all restaurants", restaurants_path, class: "btn btn-warning" %>
